<html>
<head>
    <title>USER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../script/main.css" />
    <style>
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none; 
            }
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: grey;
            color: white;
            text-align: center;
        }

        .vl {
            border-right: 6px solid black;
            height: 140px;
            top: 5;
        }
    </style>
    
</head>
<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="./home.html">Home</a></li>
                <li class="active"><a href="./users.html">Users</a></li>
                <li><a href="./claims.html">Claims</a></li>
                <li><a href="./settings.html">Settings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div id="id">

    </div>

    <div class="footer container text-center">
        <div class="row">
            <form action="" id="usersform" onsubmit="onUserClickHandler('usersform')">
                <div class="col-sm-10"> 
                    <div class="col-md-5 vl">
                        <div class="col-md-4">
                            <label for="Default00">Title</label>
                            <select class="form-control" id="Default00" name="title" required >
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Dr">Dr</option>
                            </select>
                        </div>
                        <div class="col-md-4 ">
                            <label for="Default01">First name</label>
                            <input type="text" class="form-control" id="Default01" name="name" placeholder="First name" value="Mark" required>
                        </div>
                        <div class="col-md-4">
                            <label for="Default02">Last name</label>
                            <input type="text" class="form-control" id="Default02" name="surname"placeholder="Last name" value="Otto" required>
                        </div>
                        <div class="col-md-7">
                            <label for="Default03">Username</label>
                            <input type="email" class="form-control" id="Default03" name="email" placeholder="Username@gmail.com" required>
                        </div>
                        <div class="col-md-5">
                            <label for="Default04">Contact</label>
                            <input type="number" class="form-control" id="Default04" name="contact" placeholder="0120000000" required>
                        </div>
                    </div>
                    <div class="col-md-4 vl">
                        <div class="col-md-6 mb-3">
                            <label for="Default05">City</label>
                            <input type="text" class="form-control" id="Default05" name="city" placeholder="Pretoria" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Default04">Surbub</label>
                            <input type="text" class="form-control" id="Default06" name="surbub" placeholder="Hatfield" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="Default07">Street</label>
                            <input type="text" class="form-control" id="Default07" name="street" placeholder="56 Lynwood Road" required>
                        </div>
                    </div>
                    <div class="col-md-3 vl">
                        <div class="col-md-12 mb-3">
                            <label for="Default08">Vehicle Registration no.</label>
                            <input type="text" class="form-control" id="Default08" name="reg" placeholder="XW25RS-GP" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="Default09">Vehicle Brand & Model</label>
                            <input type="text" class="form-control" id="Default09" name="model" placeholder="Toyota, Hilux 2.8 2019" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <br/>
                    <button type="button" class="btn btn-info">
                        <input type="radio" name="options" value="INSERT"> Create User <br/>
                        <input type="radio" name="options" value="UPDATE"> Update User <br/>
                    </button><br/>
                    <br/>
                    <button type="submit" class="btn btn-success"> Submit </button><br/>
                    <br/>
                </div>
            </form>
        </div>
    </div>
    <script  src="../script/view.js"></script>
    
</body>
</html>